@page "/bands/{Id?}"

<h3>@Title</h3>

<img src="images/@Id" />
<br />
<br />
<a href="/bands"><input type="button" class="btn btn-outline-primary" value="Go Back" /></a>


@code {
    [Parameter]
    public string Id { get; set; } = "error";
    public string? Title { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        int index = Id.LastIndexOf(".");
        Title = Id.Substring(0, index);
    }

}
